<div
  class="fixed bottom-0 w-screen h-screen lg:inset-0 lg:w-auto z-50 overflow-auto bg-cyan-900/70 flex"
  *ngIf="showModal"
>
  <div
    class="fixed w-screen bottom-0 lg:relative p-1 bg-cyan-50 lg:max-w-md m-auto flex-col flex lg:rounded"
  >
    <span class="absolute top-0 right-0 p-2">
      <button (click)="onClose()" class="text-cyan-700 flex">
        <p class="opacity-0">Close</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 ml-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
    </span>
    <ng-content></ng-content>
  </div>
</div>
