<div class="h-full cursor-pointer" routerLink="{{ route + '/' + lecture.id }}">
  <div
    class="flex flex-col bg-stone-100 hover:bg-opacity-50 mb-2 rounded-lg pt-8 pb-4 px-6 h-full lg:aspect-square justify-between shadow"
  >
    <h1 class="font-protest text-2xl text-center">
      {{ lecture.title }}
    </h1>
    <p class="text-center italic">
      {{ lecture.description }}
    </p>
    <div class="flex justify-between pt-4">
      <div class="flex">
        <p *ngFor="let language of languages">{{ language.icon }}</p>
      </div>
      <p>Play</p>
    </div>
  </div>
</div>
