<div
  routerLink="/courses/{{ course.id.replaceAll(',', '-') }}"
  class="flex flex-col items-center shadow bg-stone-100 hover:bg-opacity-50 py-2 px-4 rounded-lg overflow-hidden cursor-pointer"
>
  <div class="flex flex-row justify-between w-full items-center">
    <div>
      <p class="text-md" *ngFor="let language of course.languages">
        {{ language.icon }}
      </p>
    </div>
    <div class="ml-2 w-full">
      <p *ngFor="let language of course.languages">
        {{ language.title }}
      </p>
    </div>
    <p class="text-xs text-center text-stone-500 underline">Enroll Course!</p>
  </div>
</div>
