<app-modal [showModal]="isGameModalOpen" (closeModal)="isGameModalOpen = false">
  <div class="flex flex-col min-h-96 text-cyan-700">
    <div class="text-center h-32 items-center flex justify-center">
      <select
        class="px-4 py-2 bg-transparent text-center uppercase text-3xl"
        (change)="onCategorySelect($event)"
      >
        <option *ngFor="let category of categories" (value)="(category)">
          {{ category }}
        </option>
      </select>
    </div>
    <div *ngIf="word" class="h-96 flex flex-col justify-evenly">
      <div
        *ngFor="let languageId of languageIds; let index = index"
        class="flex flex-col text-center w-full text-2xl"
      >
        <p>{{ languages[index].icon }}</p>
        <p
          class="flex items-center justify-center rounded-xl"
          *ngIf="index === 0"
        >
          {{ word[languageId] }}
        </p>
        <input
          class="text-center bg-transparent placeholder:text-cyan-200"
          *ngIf="index === 1"
          type="text"
          placeholder="Write word in {{ languages[index].title }}"
          [(ngModel)]="inputValue"
          (keyup)="onInputChange()"
        />
        <p [class.opacity-0]="toggleAnswer" *ngIf="index === 1">
          {{ word[languageId] }}
        </p>
        <p class="" *ngIf="index === 2">
          {{ word[languageId] }}
        </p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center opacity-50 mb-2">
      <button
        (click)="handleChangeWord(-1)"
        class="flex flex-col items-end mx-2 pl-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z"
          />
        </svg>

        Prev
      </button>
      <button (click)="handleChangeWord(1)" class="mx-2 pr-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z"
          />
        </svg>
        Next
      </button>
    </div>
  </div>
  <button
    (click)="toggleAnswer = !toggleAnswer"
    class="absolute bottom-2 right-2"
  >
    <div class="flex justify-end items-end flex-col">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
      View
    </div>
  </button>
</app-modal>
