<section>
  <div
    class="text-center leading-10 text-cyan-700 flex flex-col tracking-widest max-w-lg mx-auto"
  >
    <h1 class="text-4xl underline text-cyan-800">The Word Game</h1>
    <p class="text-cyan-400">Welcome to the Word Game!</p>
    <p>
      Here you have the ability to practice your vocabulary by playing a simple
      word game. You will be presented with a word in
      {{ languages[0].icon }}{{ languages[0].title }} and {{ languages[2].icon
      }}{{ languages[2].title }} and your goal is to translate it to
      {{ languages[1].icon }}{{ languages[1].title }}.
    </p>
    <br />
    <p>What language do you want to translate to?</p>
    <div>
      <select [selectedIndex]="1" (change)="onChangeLanguage($event)">
        <option *ngFor="let language of languages; let i = index" [value]="i">
          {{ language.icon }} {{ language.title }}
        </option>
      </select>
    </div>
    <br />
    <br />
    <br />
    <button
      (click)="isGameModalOpen = true"
      class="text-cyan-900 underline text-6xl"
    >
      Play!
    </button>
  </div>
</section>
<!-- The Game -->
<app-modal [showModal]="isGameModalOpen" (closeModal)="isGameModalOpen = false">
  <div class="flex flex-col min-h-96 text-cyan-700">
    <div class="text-center h-32 items-center flex justify-center">
      <select
        class="px-4 py-2 bg-transparent text-center uppercase text-3xl"
        (change)="onCategorySelect($event)"
      >
        <option *ngFor="let category of categories" (value)="(category)">
          {{ category }}
        </option>
      </select>
    </div>
    <app-translate-game
      *ngIf="words"
      [texts]="words"
      [languages]="languages"
    ></app-translate-game>
  </div>
</app-modal>
